@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/alegreya-sans-sc-500-latin.woff2") format("woff2");
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/alegreya-sans-sc-700-latin.woff2") format("woff2");
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("../assets/fonts/atkinson-hyperlegible-next-latin-variable.woff2") format("woff2");
}
